<mat-toolbar color="primary">
  <span>RunLite</span>
</mat-toolbar>

<div style="margin-top: 50px">
  <mat-card style="width: 700px; margin: 0 auto">
  <mat-horizontal-stepper linear="false" #stepper >
  <mat-step>
    <form [formGroup]="goingTravelForm">
      <ng-template matStepLabel>Encuentra tu viaje</ng-template>
      
      <!-- Destino -->
      <div class="form-row">
          <mat-form-field>
              <mat-label>Destino</mat-label>
              <mat-select formControlName="destino">
                <mat-option *ngFor="let destino of destinations" [value]="destino.id" (click)="destinationSelected(destino.id)">
                  {{ destino.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          <mat-slide-toggle (click)="updateValidators()">Viaje redondo</mat-slide-toggle>      
      </div>

      <!-- Viaje de Salida-->
      <div class="form-row">
          <mat-form-field>
            <input matInput [matDatepickerFilter]="goingDatesFilter" (dateChange)="onDateGoingSelected($event)" formControlName="fechaSalida" [min]="minDate" [matDatepicker]="dp1" placeholder="Fecha de salida">
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Hora de Salida</mat-label>
            <mat-select formControlName="horaSalida">
              <mat-option *ngFor="let hour of goingHoursTravels" [value]="hour.id_departure_hour" (click)="hourGoingSelected(hour.hour)">
                {{ hour.hour }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Clase</mat-label>
            <mat-select formControlName="claseSalida">
              <mat-option *ngFor="let class of goingClassesTravels" [value]="class" (click)="classGoingSelected(class)">
                {{ class }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Bus de Salida -->
          <div style="text-align: center; margin: 10px">Elije tu asiento</div>
          <div class="bus">
            <div class="fila">
              <div class="silla" *ngFor="let item of [].constructor(24); let i = index" 
              [ngClass]="vacantSeat(i+1) ? 'silla-libre' : 'silla-ocupada'" (click)="selectSeat($event, 'silla-ida-seleccionada')" id="{{i+1}}">
                {{ i + 1}}
              </div>
            </div>
            <div class="fila">
              <div class="silla" *ngFor="let item of [].constructor(26); let i = index" 
                [ngClass]="vacantSeat(i+25) ? 'silla-libre' : 'silla-ocupada'" (click)="selectSeat($event, 'silla-ida-seleccionada')" id="{{i+25}}">
                {{ i + 25}}
              </div>
            </div>
          </div>
      </div>
    </form>

    <form [formGroup]="returnTravelForm">
      <div class="form-row" [hidden]="!viajeRedondo">
        <br>
        <hr>
        <br>

        <!-- Fecha de regreso -->
        <mat-form-field >
          <input matInput (dateChange)="onDateReturnSelected($event)" [matDatepickerFilter]="returnDatesFilter" formControlName="fechaRegreso" [min]="minDate" [matDatepicker]="dp3" placeholder="Fecha de regreso">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

          <!--Hora de regreso -->
          <mat-form-field>
            <mat-label>Hora de Regreso</mat-label>
            <mat-select formControlName="horaRegreso">
              <mat-option *ngFor="let hora of returnHoursTravels" [value]="hora.id_departure_hour" (click)="hourReturnSelected(hora.hour)">
                {{ hora.hour }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Clase de regreso -->
          <mat-form-field>
            <mat-label>Clase</mat-label>
            <mat-select formControlName="claseRegreso">
              <mat-option *ngFor="let class of returnClassesTravels" [value]="class" (click)="classReturnSelected(class)">
                {{ class }}
              </mat-option>
            </mat-select>
          </mat-form-field>

         
          <!-- Bus de regreso -->
          <div style="text-align: center; margin: 10px">Elije tu asiento</div>
          <div class="bus">
            <div class="fila">
              <div class="silla" *ngFor="let item of [].constructor(24); let i = index" 
              [ngClass]="vacantSeatReturn(i+1) ? 'silla-libre' : 'silla-ocupada'" (click)="selectSeat($event, 'silla-regreso-seleccionada')" id="{{i+200}}">
                {{ i + 1}}
              </div>
            </div>
            <div class="fila">
              <div class="silla" *ngFor="let item of [].constructor(26); let i = index" 
                [ngClass]="vacantSeatReturn(i+25) ? 'silla-libre' : 'silla-ocupada'" (click)="selectSeat($event, 'silla-regreso-seleccionada')" id="{{i+300}}">
                {{ i + 25}}
              </div>
            </div>
          </div>
      </div>
    </form>
      
      <br>
      <!--
        <div>
          {{ goingTravelForm.value | json }}
        </div>
        <div>
          {{ returnTravelForm.value | json }}
        </div>
      -->
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    
  </mat-step>
  
  <mat-step [stepControl]="stripeTest">
      <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
        <ng-template matStepLabel>Pago</ng-template>
        <div class="form-row">
          <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
          </mat-form-field>
        </div>
        
        <div id="card-element" class="field"></div>
        
        <div>
            <button mat-button type="submit">Siguiente</button>
        </div>
        

        <!--
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
        -->
      </form>
      
  
     
  </mat-step>
  
  </mat-horizontal-stepper>
  </mat-card>
</div>


